<section id="navigation">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar">
                        <span class="navbar-toggler-icon" style="color: white"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                        <i class="fas fa-home" style="font-size: 1em; color: white;"></i>
                    </a>

                    <div class="collapse navbar-collapse" id="navigation-bar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#statistic">Estadisticas</a></li>
                            <li class="nav-item"><a class="nav-link" href="#footer">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col text-center margen">
                <h1 class="h1-tittle colorText">COVID-19</h1>
                <p class="colorText">
                    La enfermedad del Covid-19 es una nueva enfermedad descubierta y ha causado la nueva pandemia mundial.
                </p>
            </div>
        </div>
    </div>
</section>


<section id="stadistic" >
    <div class="container text-center">
        <div class="row">
            <div class="col text-left">
                <h2>
                    Estadisiticas
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col text-center mb-3">
                <form >
                    <div class="form-group">
                        <select class="form-control" id="country">
                            <option selected value="global">Global</option>
                            <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 md-3">
                <div class="card card-infected">
                    <div class="card-body">
                        <h3 class="card-title">Infectados</h3>
                        <p class="card-text"> {{data.confiremd | number}} </p>
                        <p>{{data.lastupdate | date:'longDate'}}</p>
                        <p>Numero de casos activos del Covid</p>
                        
                    </div>
                </div>

            </div>

            <div class="col-md-4 md-3">
                <div class="card card-infected">
                    <div class="card-body">
                        <h3 class="card-title">Recuperados</h3>
                        <p class="card-text"> {{data.recovered | number}} </p>
                        <p>{{data.lastupdate | date:'longDate'}}</p>
                        <p>Numero de recuperados del Covid</p>
                        
                    </div>
                </div>

            </div>

            <div class="col-md-4 md-3">
                <div class="card card-infected">
                    <div class="card-body">
                        <h3 class="card-title">Muertes</h3>
                        <p class="card-text"> {{data.deaths | number}} </p>
                        <p>{{data.lastupdate | date:'longDate'}}</p>
                        <p>Numero de muertes del Covid</p>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<footer class="container-fluid navbar-dark bg-dark text-light text-center" #footer>
    
        
    <p class="py-2">Fernando Ramirez  &copy; {{ anio }} - ferjaviramirez@gmail.com</p>


<ul class="list-inline">
    <a href="https://github.com/ferjavi40 " target="_blank "><i class="fab fa-github mr-3 py-3 fa-lg iconsFooter "></i></a>
    <a href="https://www.linkedin.com/in/fernando-javier-ramirez-obando-345a03163/ " target="_blank "><i class="fab fa-linkedin mr-3 py-3 fa-lg iconsFooter "></i></a>
    <a href="https://www.facebook.com/fernando.javier40/ " target="_blank "><i class="fab fa-facebook mr-3 py-3 fa-lg iconsFooter "></i></a>

</ul>



</footer>